<section class="home">
    <div class="home-content">
        <h1>IF - Inteligência Financeira</h1>
        <h3>Bem-vindo ao sistema</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae, 
            sed repellendus quo fugit ipsam dolore maxime, architecto, blanditiis quaerat voluptatem! 
            Porro, amet natus iure nisi sed dolorum. Amet, tempore!
        </p>

        <div class="btn-box">
            <a href="#">Começar</a>
            <a href="#">Treinamento</a>
        </div>
    </div>
    <div class="home-sci">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>

    <span class="home-imgHover">

    </span>
</section>