<section class="home">
    <div class="home-content">
        <h1>IF - Inteligência Financeira</h1>
        <h2>Sua saúde financeira começa aqui</h2>
        <p>Ajudamos você a organizar suas finanças de forma simples, com relatórios claros e metas inteligentes.</p>

        <div class="btn-box">
            <a href="#">Começar</a>
            <a href="#">Treinamento</a>
        </div>
    </div>
   <div class="home-sci">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    <span class="home-imgHover">

    </span>
</section>