<mat-card class="telaLogin">
    <mat-card-content class="container">
        <form class="form" [formGroup]="loginForm">
            <div class="full-width">
                <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                <mat-card-title style="margin-bottom: 20px; color: white;">Fazer login</mat-card-title>


                <mat-form-field class="mat-form-field" color="warn" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="username" formControlName="username" placeholder="Email de usuário">
                    <span matTextSuffix><i style="font-size: 20px; color: rgba(255, 255, 255, 0.432);" class="fa fa-user"></i></span>
                        
                    <mat-error>{{ errorValidUsername() }}</mat-error>
                </mat-form-field>

                <mat-form-field class="mat-form-field" color="warn">
                    <mat-label>Senha</mat-label>
                    <mat-pass-toggle-visibility style="color: rgba(255, 255, 255, 0.432);" #toggle1 matSuffix></mat-pass-toggle-visibility>
                    <input matInput type="password" name="password" formControlName="password" placeholder="Insira a senha" [type]="toggle1.type">
                    <mat-error>{{ errorValidPassword() }}</mat-error>
                </mat-form-field>


                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <mat-checkbox [color]="'warn'"><p style="color: white; margin: 5px;">Lembre de Mim</p></mat-checkbox>
                    <p style="color: white; margin: 5px; margin-left: 60px;">Esqueceu sua Senha?</p>
                </div>

                <button mat-raised-button [ngStyle]="loginForm.invalid ? { 'color': '#999999', 'background-color': '#e15349' } : { 'color': 'white', 'background-color': '#F44336' }" type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Entrar</button>

            </div>
        </form>
    </mat-card-content>
</mat-card>