.telaLogin {
    height: 100%;
    background-color: antiquewhite;
}

.container {
    display: flex;
    width: 65%;
    height: 60%;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    border: 1px solid rgb(255, 115, 0);
}

.container-primario {
    background-color: orangered;
    width: 40%;
}

.container-segundario {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formResetPassword {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-form-field {
    width: 80%;
    height: 75px;
}

button {
    width: 80%;
    margin-bottom: 5px;
}

.icon {
    font-size: 45px;
    color: orangered;
    margin: 10px;
}

// css componentes Angular Material
.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}

::ng-deep .mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgb(232, 240, 254)
}

::ng-deep .mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: black;
}

::ng-deep .mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black;
}

::ng-deep .mat-mdc-checkbox .mdc-form-field {
    color: black;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: black;
}