<mat-card class="mat-card-fieldset">
    <mat-card-header>
        <div class="mat-card-title-wrapper">
            <mat-card-title class="custom-title">Novo Planejamento</mat-card-title>
        </div>
        <span class="flex-spacer"></span>
        <button mat-icon-button [mat-dialog-close]="true">
            <mat-icon aria-label="Fechar diálogo">close</mat-icon>
        </button>
    </mat-card-header>

    <mat-stepper class="stepper" color="warn" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="planning">
            <form class="formPlanning" [formGroup]="planning">
                <ng-template matStepLabel>Salário</ng-template>

                <mat-card>
                    <mat-card-content>
                        <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                        <h2>Bem-vindo ao cadastro do planejamento mensal!</h2>
                        <p>Por favor, siga as instruções abaixo para inserir o seu salário:</p>
                        <p>1. Insira o valor do seu salário no campo abaixo.</p>
                        <p>2. Certifique-se de incluir todas as fontes de renda mensal.</p>
                        <p>Lembrando que esta informação será utilizada para criar seu
                            planejamento financeiro. Caso tenha dúvidas, consulte seus comprovantes de pagamento.
                        </p>
                        <p>Vamos começar!</p>
                    </mat-card-content>
                </mat-card>

                <mat-form-field color="warn" floatLabel="always">
                    <mat-label>Insira o valor</mat-label>
                    <input matInput type="text" currencyMask
                        [options]="{prefix: 'R$ ', thousands: '.', precision: 2, allowNegative: false, align: 'left', decimal: ','}"
                        formControlName="totalPlanned" required>
                </mat-form-field>

                <div align="end">
                    <button mat-raised-button color="warn" matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step [completed]="hasDataInTableEtapa2()" label="Despesas essenciais">
            <form class="despesas" [formGroup]="despesasEssenciais">

                <div class="duvida" (click)="exibirInstrucoesEtapa2 = !exibirInstrucoesEtapa2">
                    <strong>Por que precisamos disso? (Clique aqui)</strong>
                </div>
                <div [ngClass]="{'expandir': exibirInstrucoesEtapa2, 'recolher': !exibirInstrucoesEtapa2}">
                    <mat-card>
                        <mat-card-content>
                            <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                            <h2>Bem-vindo à segunda etapa do seu planejamento financeiro!</h2>
                            <p>Por favor, siga as instruções abaixo para inserir as despesas essenciais:</p>
                            <p>1. Selecione a categoria correspondente à despesa essencial que você deseja adicionar.
                            </p>
                            <p>2. Forneça uma descrição clara e concisa da despesa essencial.</p>
                            <p>3. Insira o valor correspondente à despesa essencial.</p>
                            <p>Nesta etapa, é fundamental focar apenas em despesas essenciais, ou seja,
                                aquelas que são indispensáveis para o seu sustento e bem-estar.
                                Evite incluir gastos supérfluos ou itens não essenciais, pois isso pode comprometer
                                a precisão do seu planejamento financeiro.
                            </p>
                            <p>Vamos começar!</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="addCategory">
                    <div formGroupName="category">
                        <mat-form-field color="warn">
                            <mat-label>Categorias Essenciais</mat-label>
                            <mat-select formControlName="name">
                                <mat-option *ngFor="let category of categorysEssenciais"
                                    [value]="category.name">{{category.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field color="warn">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="descricao">
                    </mat-form-field>

                    <mat-form-field class="planned" color="warn" floatLabel="always">
                        <mat-label>Insira o valor</mat-label>
                        <input matInput type="text" currencyMask
                            [options]="{prefix: 'R$ ', thousands: '.', precision: 2, allowNegative: false, align: 'left', decimal: ','}"
                            formControlName="planned">
                    </mat-form-field>

                    <button mat-raised-button
                        [ngStyle]="despesasEssenciais.invalid ? { 'color': '#999999' } : { 'color': 'white', 'background-color': '#008000' }"
                        [disabled]="despesasEssenciais.invalid" (click)="adicionarDespesasEssenciais()">
                        <mat-icon>add</mat-icon> {{ modoEdicaoEtapa2 ? 'Salvar' : 'Adicionar' }}
                    </button>
                </div>

                <div class="table-wrapper">
                    <table mat-table #table [dataSource]="dataSourceEtapa2">

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descricão </th>
                            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                        </ng-container>

                        <ng-container matColumnDef="planned">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let element"> {{element.planned | real}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th class="mat-column-acao" mat-header-cell *matHeaderCellDef> Ações </th>
                            <td mat-cell *matCellDef="let element">
                                <button style="margin: 2px" mat-mini-fab matTooltip="Editar" color="warn"
                                    (click)="editarEtapa2(element)">
                                    <i class="fa fa-solid fa-pen"></i>
                                </button>
                                <button mat-mini-fab matTooltip="Deletar" color="primary"
                                    (click)="deletarEtapa2(element)">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <mat-divider></mat-divider>
                <div class="button">
                    <button mat-raised-button color="warn" matStepperPrevious>Voltar</button>
                    <span></span>
                    <button mat-raised-button color="warn" matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step [completed]="hasDataInTableEtapa3()" label="Despesas não essenciais">
            <form class="despesas" [formGroup]="despesasNaoEssenciais">

                <div class="duvida" (click)="exibirInstrucoesEtapa3 = !exibirInstrucoesEtapa3">
                    <strong>Por que precisamos saber disso?</strong>
                </div>
                <div [ngClass]="{'expandir': exibirInstrucoesEtapa3, 'recolher': !exibirInstrucoesEtapa3}">
                    <mat-card>
                        <mat-card-content>
                            <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                            <h2>Bem-vindo à terceira etapa do seu planejamento financeiro!</h2>
                            <p>Agora, vamos adicionar suas despesas não essenciais. Diferentemente das despesas
                                essenciais.
                                Ao incluir suas despesas não essenciais, você terá uma visão mais abrangente do seu
                                orçamento
                                e poderá tomar decisões informadas sobre seus gastos.</p>
                            <p>Siga as instruções abaixo:</p>
                            <p>1. Selecione a categoria correspondente à despesa não essencial que você deseja
                                adicionar.
                            </p>
                            <p>2. Caso necessário, forneça uma descrição clara e concisa da despesa não essencial.</p>
                            <p>3. Insira o valor correspondente à despesa não essencial.</p>
                            <p>Lembre-se de ser honesto ao categorizar suas despesas e inserir os valores corretos.
                                Isso ajudará a garantir a precisão do seu planejamento financeiro.
                            </p>
                            <p>Vamos começar!</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="addCategory">
                    <div formGroupName="category">
                        <mat-form-field color="warn">
                            <mat-label>Categorias não Essenciais</mat-label>
                            <mat-select formControlName="name">
                                <mat-option *ngFor="let category of categorysNaoEssenciais"
                                    [value]="category.name">{{category.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field color="warn">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="descricao">
                    </mat-form-field>

                    <mat-form-field class="planned" color="warn" floatLabel="always">
                        <mat-label>Insira o valor</mat-label>
                        <input matInput type="text" currencyMask
                            [options]="{prefix: 'R$ ', thousands: '.', precision: 2, allowNegative: false, align: 'left', decimal: ','}"
                            formControlName="planned">
                    </mat-form-field>

                    <button mat-raised-button
                        [ngStyle]="despesasNaoEssenciais.invalid ? { 'color': '#999999' } : { 'color': 'white', 'background-color': '#008000' }"
                        [disabled]="despesasNaoEssenciais.invalid" (click)="adicionarDespesasNaoEssenciais()">
                        <mat-icon>add</mat-icon> {{ modoEdicaoEtapa3 ? 'Salvar' : 'Adicionar' }}
                    </button>
                </div>

                <div class="table-wrapper">
                    <table mat-table #table [dataSource]="dataSourceEtapa3">

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descricão </th>
                            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                        </ng-container>

                        <ng-container matColumnDef="planned">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let element"> {{element.planned | real}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th class="mat-column-acao" mat-header-cell *matHeaderCellDef> Ações </th>
                            <td mat-cell *matCellDef="let element">
                                <button style="margin: 2px" mat-mini-fab matTooltip="Editar" color="warn"
                                    (click)="editarEtapa3(element)">
                                    <i class="fa fa-solid fa-pen"></i>
                                </button>
                                <button mat-mini-fab matTooltip="Deletar" color="primary"
                                    (click)="deletarEtapa3(element)">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <mat-divider></mat-divider>
                <div class="button">
                    <button mat-raised-button color="warn" matStepperPrevious>Voltar</button>
                    <span></span>
                    <button mat-raised-button color="warn" matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Resumo</ng-template>
            <div class="despesas">
                <div class="button">
                    <button mat-raised-button color="warn" matStepperPrevious>Voltar</button>
                    <span></span>
                    <button mat-raised-button>Salvar</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>

</mat-card>