<mat-card class="mat-card-fieldset">
    <mat-card-header>
        <div class="mat-card-title-wrapper">
            <mat-card-title class="custom-title">Novo Planejamento</mat-card-title>
        </div>
        <span class="flex-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon aria-label="Fechar diálogo">close</mat-icon>
        </button>
    </mat-card-header>

    <mat-stepper class="stepper" color="warn" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="planningForm">
            <form class="formPlanning" [formGroup]="planningForm">
                <ng-template matStepLabel>Salário</ng-template>

                <mat-card>
                    <mat-card-content>
                        <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                        <h2>Bem-vindo ao cadastro do planejamento mensal!</h2>
                        <p>Por favor, siga as instruções abaixo para inserir o seu salário:</p>
                        <p>1. Insira o valor do seu salário no campo abaixo.</p>
                        <p>2. Certifique-se de incluir todas as fontes de renda mensal.</p>
                        <p>Lembrando que esta informação será utilizada para criar seu
                            planejamento financeiro. Caso tenha dúvidas, consulte seus comprovantes de pagamento.
                        </p>
                        <p>Vamos começar!</p>
                    </mat-card-content>
                </mat-card>

                <mat-form-field color="warn" floatLabel="always">
                    <mat-label>Insira o valor</mat-label>
                    <input matInput type="text" currencyMask
                        [options]="{prefix: 'R$ ', thousands: '.', precision: 2, allowNegative: false, align: 'left', decimal: ','}"
                        formControlName="totalPlanned" required>
                </mat-form-field>

                <div align="end">
                    <button mat-raised-button color="warn" matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step [completed]="hasDataInTableEtapa2()" label="Despesas">
            <form class="despesas" [formGroup]="categoriesForm">

                <mat-accordion>
                    <mat-expansion-panel class="expansion" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                                <p>{{panelOpenState ? '' : 'Instruções'}}
                                </p>
                            </mat-panel-title>
                            <mat-panel-description>
                                Atualmente estou {{panelOpenState ? 'aberto' : 'fechado'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <h2>Bem-vindo à segunda etapa do seu planejamento financeiro!</h2>
                        <p>Por favor, siga as instruções abaixo para inserir as despesas:</p>
                        <p>1. <strong>Selecione o tipo de despesas</strong> correspondente deseja adicionar.</p>
                        <p>
                            &nbsp; &nbsp; 1.1 <span><strong>Opção Essencial:</strong> É fundamental focar apenas em despesas essenciais. ou seja,
                          aquelas que são indispensáveis para o seu sustento e bem-estar.</span>
                        </p>
                        <p>
                            &nbsp;  &nbsp; 1.2 <span><strong>Opção não essencial:</strong> Diferentemente das despesas essenciais. 
                          Ao incluir suas despesas não essenciais, você terá uma visão mais abrangente do seu
                          orçamento e poderá tomar decisões informadas sobre seus gastos.</span>
                        </p>
                        <p>2. Forneça uma <strong>descrição</strong> clara e concisa da despesa.</p>
                        <p>3. <strong>Insira o valor</strong> correspondente à despesa.</p>
                        <p>Vamos começar!</p>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="addCategory">
                    <div align="end" style="margin-top: 20px;">
                        <span
                            [ngStyle]="{'background-color': calculationOfValues < 0 ? 'rgba(255, 0, 0, 0.61)' : 'green', 'font-size': '20px', 'color': 'white', 'padding': '20px'}">
                            Total Planejado: {{ calculationOfValues | real }}
                        </span>
                    </div>

                    <div class="label">
                        <label>Selecione o tipe de despesas:</label>
                    </div>
                    <div class="radioButton">
                        <mat-radio-group (change)="onTipoDespesaChange($event)">
                            <mat-radio-button [value]="1">Essencial</mat-radio-button>
                            <mat-radio-button [value]="2">Não essencial</mat-radio-button>
                        </mat-radio-group>
                    </div>


                    <div *ngIf="tipoDespesa == 1">
                        <mat-form-field class="categorias" color="warn" formGroupName="category">
                            <mat-label>Categorias Essenciais</mat-label>
                            <mat-select formControlName="name">
                                <mat-option *ngFor="let category of categorysEssenciais"
                                    [value]="category.name">{{category.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div *ngIf="tipoDespesa == 2">
                        <mat-form-field class="categorias" color="warn" formGroupName="category">
                            <mat-label>Categorias não essenciais</mat-label>
                            <mat-select formControlName="name">
                                <mat-option *ngFor="let category of categorysNaoEssenciais"
                                    [value]="category.name">{{category.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field color="warn">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="descricao">
                    </mat-form-field>

                    <mat-form-field class="planned" color="warn" floatLabel="always">
                        <mat-label>Insira o valor</mat-label>
                        <input matInput type="text" currencyMask
                            [options]="{prefix: 'R$ ', thousands: '.', precision: 2, allowNegative: false, align: 'left', decimal: ','}"
                            formControlName="planned">
                    </mat-form-field>

                    <div>
                        <button mat-raised-button
                            [ngStyle]="categoriesForm.invalid ? { 'color': '#999999' } : { 'color': 'white', 'background-color': '#008000' }"
                            [disabled]="categoriesForm.invalid" (click)="adicionarDespesas()">
                            {{ modoEdicaoEtapa2 ? 'Salvar' : 'Adicionar' }}
                        </button>

                        <button mat-raised-button
                            style="background-color: rgba(255, 0, 0, 0.61); color: white; margin-left: 10px;"
                            (click)="clear()">
                            {{ modoEdicaoEtapa2 ? 'Cancelar' : 'Limpar' }}
                        </button>
                    </div>

                </div>

                <div class="table-wrapper">
                    <table mat-table #table [dataSource]="dataSourceEtapa2">

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Tipo </th>
                            <td mat-cell *matCellDef="let element"> {{element.category.typeCategory}} </td>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descricão </th>
                            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                        </ng-container>

                        <ng-container matColumnDef="planned">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let element"> {{element.planned | real}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th class="mat-column-acao" mat-header-cell *matHeaderCellDef> Ações </th>
                            <td mat-cell *matCellDef="let element">
                                <button style="margin: 2px" mat-mini-fab matTooltip="Editar" color="warn"
                                    (click)="editarEtapa2(element)">
                                    <i class="fa fa-solid fa-pen"></i>
                                </button>
                                <button mat-mini-fab matTooltip="Deletar" color="primary"
                                    (click)="deletarEtapa2(element)">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="espace">
                            <td mat-footer-cell *matFooterCellDef colspan="5">

                            </td>
                        </ng-container>

                        <!-- Row Despesas essenciais -->
                        <ng-container matColumnDef="despesasEssenciais">
                            <td mat-footer-cell *matFooterCellDef colspan="3">
                                TOTAL DE DESPESAS ESSENCIAIS
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="despesasEssenciais1">
                            <td mat-footer-cell *matFooterCellDef colspan="2">
                                {{getTotalDespesasEssenciais() | real}}
                            </td>
                        </ng-container>
                        <!-- fim Row Despesas essenciais -->

                        <!-- Row Despesas não essenciais -->
                        <ng-container matColumnDef="despesasnNaoEssenciais">
                            <td mat-footer-cell *matFooterCellDef colspan="3">
                                TOTAL DE DESPESAS NÃO ESSENCIAIS
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="despesasnNaoEssenciais1">
                            <td mat-footer-cell *matFooterCellDef colspan="2">
                                {{getTotalDespesasNaoEssenciais() | real}}
                            </td>
                        </ng-container>
                        <!-- fim Row Despesas não essenciais -->

                        <!-- fim Row Total Despesas -->
                        <ng-container matColumnDef="totalDespesas">
                            <td mat-footer-cell *matFooterCellDef colspan="3">
                                TOTAL GERAL DE DESPESAS
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totalDespesas1">
                            <td mat-footer-cell *matFooterCellDef colspan="2">
                                {{getTotalDespesas() | real}}
                            </td>
                        </ng-container>
                        <!-- fim Row Total Despesas -->


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                        <tr mat-footer-row *matFooterRowDef="['espace']"></tr>
                        <tr mat-footer-row *matFooterRowDef="['despesasEssenciais', 'despesasEssenciais1']"
                            [ngClass]="{'despesas-essenciais': true, 'despesas-nao-essenciais': false, 'total-despesas': false}">
                        </tr>
                        <tr mat-footer-row *matFooterRowDef="['despesasnNaoEssenciais', 'despesasnNaoEssenciais1']"
                            [ngClass]="{'despesas-essenciais': false, 'despesas-nao-essenciais': true, 'total-despesas': false}">
                        </tr>
                        <tr mat-footer-row *matFooterRowDef="['totalDespesas', 'totalDespesas1']"
                            [ngClass]="{'despesas-essenciais': false, 'despesas-nao-essenciais': false, 'total-despesas': true}">
                        </tr>

                    </table>
                </div>

                <mat-divider></mat-divider>
                <div class="button">
                    <button mat-raised-button color="warn" matStepperPrevious>Voltar</button>
                    <span></span>
                    <button mat-raised-button color="warn" matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Resumo</ng-template>
            <div class="despesas">
                <div align="end" class="resumo">
                    <div style="margin: 20px;">
                        <span style="font-size: 20px; color: white; padding: 20px; background-color: rgba(161, 231, 161, 0.726); margin-right: 20px;">
                            Salário Relatado: {{ planningTotalPlanned | real }}
                        </span>
                        <span
                            [ngStyle]="{'background-color': calculationOfValues < 0 ? 'rgba(255, 0, 0, 0.61)' : 'green', 'font-size': '20px', 'color': 'white', 'padding': '20px'}">
                            Resultado do Planejado: {{ calculationOfValues | real }}
                        </span>
                    </div>
                </div>

                <section style="margin-top: 50px;" class="example-container mat-elevation-z8" tabindex="0">
                    <table mat-table [dataSource]="dataSourceEtapa2">
                        <!-- Item Column -->
                        <ng-container matColumnDef="categoria">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.category.name}} </td>
                            <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>

                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Tipo </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.category.typeCategory}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descrição </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.descricao}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="valor">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let transaction"> {{transaction.planned | real}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{getTotalDespesas() | real}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsResumo"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsResumo;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumnsResumo; sticky: true"></tr>
                    </table>
                </section>

                <div class="button">
                    <button mat-raised-button color="warn" matStepperPrevious>Voltar</button>
                    <span></span>
                    <button mat-raised-button (click)="save()" style="color: white; background-color: green;">Salvar</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>

</mat-card>