<mat-card class="mat-card-fieldset">
    <mat-card-header>
        <div class="mat-card-title-wrapper">
            <mat-card-title class="custom-title">Planejamento</mat-card-title>
        </div>
    </mat-card-header>

    <div class="details">
        <div class="cardTable">
            <mat-card class="mat-card-fieldset">
                <div class="calendario">
                    <button mat-icon-button color="warn" class="hover-shadow" (click)="decreasesYear()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-fab extended color="warn" (click)="toggleCalendar()" *ngIf="!isCalendarOpen">
                        {{ month }} {{ year }}
                    </button>
                    <button mat-stroked-button color="warn" (click)="message()" *ngIf="isCalendarOpen"
                        style="font-size: 20px; border-radius: 15px;">
                        <b>{{ year }}</b>
                    </button>
                    <button mat-icon-button color="warn" class="hover-shadow" (click)="incrementYear()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>

                <div *ngIf="isCalendarOpen" class="mesesCalendario">
                    <button class="botoesMeses" mat-fab extended *ngFor="let month of months"
                        (click)="selectMonth(month)">
                        {{ month }}
                    </button>
                </div>

                <div *ngIf="showTable; else noPlanningMessage">
                    <table style="margin-top: 80px;" mat-table #table [dataSource]="dataSource">
                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.categoryRecord.name}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="planned">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let element"> {{element.planned}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="pagos">
                            <th mat-header-cell *matHeaderCellDef> Pagos </th>
                            <td mat-cell *matCellDef="let element"> {{element.planned}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descricão </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="acao">
                            <th mat-header-cell *matHeaderCellDef> Ação </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
    
                    <mat-paginator color="warn" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

                <ng-template #noPlanningMessage>
                    <div class="no-planning-message">
                        <mat-card class="mat-card-fieldset">
                          <mat-card-content>
                            <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                            <h2>Sem Planejamento</h2>
                            <p>Não há planejamento disponível para o mês e ano selecionados.</p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="adicionais">
            <mat-card class="mat-card-fieldset">
                <div class="cardHeader">
                    <h2>Detalhe</h2>
                    <a href="#" class="btn">Botão</a>
                </div>
            </mat-card>
        </div>

    </div>
</mat-card>



<mat-card class="mat-card-fieldset" *ngIf="false">
    <mat-card-header>
        <div class="mat-card-title-wrapper">
            <mat-card-title class="custom-title">Novo Planejamento</mat-card-title>
        </div>
    </mat-card-header>

    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
    <mat-stepper color="warn" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Salário líquido</ng-template>
                <mat-form-field floatLabel="always">
                    <mat-label>Valor</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0">
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>.00</span>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Despesas essenciais">
            <form [formGroup]="secondFormGroup">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Despesas não essenciais">
            <form [formGroup]="secondFormGroup">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Resumo</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="stepper.reset()">Reiniciar</button>
            </div>
        </mat-step>
    </mat-stepper>

</mat-card>