<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>

<mat-card class="mat-card-fieldset" style="background-color: #8e9091">
    <mat-card-header>
        <div class="mat-card-title-wrapper">
            <mat-card-title class="custom-title">Planejamento</mat-card-title>
        </div>
    </mat-card-header>

    <div class="details">
        <div class="cardTable">
            <mat-card class="mat-card-fieldset" style="padding: 30px;">
                <div class="calendario">
                    <button mat-icon-button color="warn" class="hover-shadow" (click)="decreasesYear()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-fab extended color="warn" (click)="toggleCalendar()" *ngIf="!isCalendarOpen">
                        {{ month }} {{ year }}
                    </button>
                    <button mat-stroked-button color="warn" (click)="message()" *ngIf="isCalendarOpen"
                        style="font-size: 20px; border-radius: 15px;">
                        <b>{{ year }}</b>
                    </button>
                    <button mat-icon-button color="warn" class="hover-shadow" (click)="incrementYear()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>

                <div *ngIf="isCalendarOpen" class="mesesCalendario">
                    <button class="botoesMeses" mat-fab extended *ngFor="let month of months"
                        (click)="selectMonth(month)">
                        {{ month }}
                    </button>
                </div>

                <br>
                <mat-divider style="margin: 20px;"></mat-divider>

                <div *ngIf="showTable; else noPlanningMessage">

                    <div class="control">
                        <div class="formInput">
                            <mat-form-field color="warn">
                                <mat-label>Filtro por tipo de categoria</mat-label>
                                <mat-select [(ngModel)]="selectedTypeCategory"
                                    (selectionChange)="onSelectTypeCategory()">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="ESSENCIAL">Essencial</mat-option>
                                    <mat-option value="NAO_ESSENCIAL">Não Essencial</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field color="warn">
                                <input matInput type="text" [(ngModel)]="value" placeholder="Pesquise aqui..."
                                    (keyup)="applyFilter($event)">
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-mini-fab style="background-color: #AED581; color: white;" (click)="createCategory()"
                                matTooltip="Adicionar categoria">
                                <mat-icon>add</mat-icon>
                            </button>

                            <button mat-mini-fab style="background-color: teal; color: white;" (click)="onDownloadPDF()"
                                matTooltip="Baixar PDF">
                                <mat-icon>cloud_download</mat-icon>
                            </button>

                            <button mat-mini-fab style="background-color: #7da0b1; color: white;" (click)="toggleForm()"
                                matTooltip="Aparecer/Esconder colunas">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>

                            <button mat-mini-fab
                                [ngStyle]="!selection.hasValue() ? { 'color': '#999999' } : { 'color': 'white', 'background-color': '#FF8A65' }"
                                (click)="openDeleteDialog(selection.selected.length, selection.selected)"
                                [disabled]="!selection.hasValue()" matTooltip="Excluir itens selecionados">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <button mat-mini-fab [matMenuTriggerFor]="menu1" style="background-color: #e2e2e2; color: black;"
                                matTooltip="Mais ações">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu1="matMenu">
                                <button mat-menu-item (click)="delete()">
                                    <span>Excluir Planejamento</span>
                                </button>
                            </mat-menu>
                        </div>

                    </div>

                    <div class="checkBoxList">
                        <div *ngFor="let item of checkBoxList">
                            <mat-checkbox (change)="hideColumn($event, item.def)" [checked]="item.hide">
                                {{ item.label }}
                            </mat-checkbox>
                        </div>
                    </div>


                    <table class="table mat-elevation-z8" mat-table #table [dataSource]="dataSource">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td class="mat-column-checkbox" mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                            <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Tipo </th>
                            <td mat-cell *matCellDef="let element"> {{element.category.typeCategory}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="planned">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let element"> {{ element.planned | real }} </td>
                            <td mat-footer-cell *matFooterCellDef>{{ getTotalDespesas() | real }}</td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Despesas Pagas </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="descricao">
                            <th mat-header-cell *matHeaderCellDef> Descricão </th>
                            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="acao">
                            <th mat-header-cell *matHeaderCellDef> Ação </th>
                            <td mat-cell *matCellDef="let element">
                                <button style="margin: 2px" mat-mini-fab matTooltip="Editar" color="warn">
                                    <i class="fa fa-solid fa-pen"></i>
                                </button>
                                <button mat-mini-fab matTooltip="Deletar" (click)="openDeleteDialog(1, element)"
                                    color="primary">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="espace">
                            <td mat-footer-cell *matFooterCellDef colspan="7">
                                <mat-divider></mat-divider>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="disColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: disColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="['espace']"></tr>
                        <tr mat-footer-row *matFooterRowDef="disColumns; sticky: true"></tr>
                    </table>
                </div>

                <ng-template #noPlanningMessage>
                    <div class="no-planning-message">
                        <mat-card class="mat-card-fieldset">
                            <mat-card-content>
                                <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                                <h2>Sem Planejamento</h2>
                                <p>Não há planejamento disponível para o mês e ano selecionados.</p>
                                <mat-divider></mat-divider>
                            </mat-card-content>

                            <mat-card-actions align="end">
                                <button mat-raised-button color="warn" (click)="createPlanning(null)">Novo
                                    planejamento</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="adicionais">
            <mat-card class="mat-card-fieldset" style="display: flex; align-items: center; height: 100%;">
                <div style="text-align: center; width: 70%; margin-top: 30px; color: white; background-color: #008000; padding: 20px;">
                    <span
                        style="width: 100%; font-size: 20px; padding: 20px;">
                        Salário: {{ salario | real }}
                    </span>
                    <mat-icon>trending_up</mat-icon> 
                </div>
                <div style="text-align: center; width: 70%; margin-top: 20px; color: white; background-color: #ff00009c; padding: 20px;">
                    <span
                        style="width: 100%; font-size: 20px; padding: 20px;">
                        Gastos: {{ gastos | real }}
                    </span>
                    <mat-icon>trending_down</mat-icon>
                </div>
                <div style="text-align: center; width: 70%; margin-top: 20px; color: white; background-color: #448AFF; padding: 20px;">
                    <span
                        style="width: 100%; font-size: 20px; padding: 20px;">
                        Rendimento: {{ rendimento | real }}
                    </span>
                    <mat-icon> bar_chart</mat-icon>
                </div>
            </mat-card>
        </div>

    </div>
</mat-card>