<mat-toolbar class="header mat-elevation-z8">
  <div class="mat-toolbar-row">
    <a class="logo" (click)="homeRoute()">Logo</a>
    <span class="flex-spacer"></span>

    <p class="tempoDeAcesso">Tempo de Acesso: {{ formatTime(timeRemaining) }}
    </p>

    <div *ngIf="isAdmin">
      <button mat-button [matMenuTriggerFor]="menu">
        <i style="font-size: 20px;" class="fal fa-user"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="controlUserRoute()">
          Controle de Usuário
        </button>
        <button mat-menu-item (click)="controlCategoryDefaultRoute()">
          Controle de Categorias
        </button>
      </mat-menu>
    </div>

    <!-- <button mat-button [matMenuTriggerFor]="menu">
        <i style="font-size: 20px;" class="fal fa-calendar"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          Calendário
        </button>
      </mat-menu> -->

    <!-- <button mat-button [matMenuTriggerFor]="menu">
        <i style="font-size: 20px;" class="fal fa-bell"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          Notificação
        </button>
      </mat-menu> -->

    <button mat-button (click)="logout()">
      <i style="font-size: 20px;" class="fal fa-share-square"></i>
    </button>

  </div>
</mat-toolbar>