.novaSenha {
    display: grid; 
    height: 100vh; 
    background-image: url('../../../../assets/images/telalogin.svg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    width: 56%;
    height: 62%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.form {
    position: absolute;
    width: 40%;
    height: 100%; 
    max-height: 800px;
    background-color: rgba(34, 34, 34, 0.534);
    top: 0;
    left: 0;
    display: flex;
}

.full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.icon {
    font-size: 48px;
    color: #FF5252;
    margin-bottom: 50px;
    margin-top: 50px;
}

button {
    width: 80%;
}