<mat-card class="novaSenha">
    <mat-card-content class="container">
        <form class="form" [formGroup]="passwordResetForm">
            <div class="full-width">
                <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                <mat-card-title style="margin-bottom: 20px; color: white;">Criar sua nova senha</mat-card-title>

                <div style="width: 80%;" fxFlex>
                    <mat-form-field class="mat-form-field" [color]="passwordComponent.color">
                        <mat-label>Nova senha</mat-label>
                        <mat-pass-toggle-visibility style="color: rgba(255, 255, 255, 0.432);" #toggle matSuffix></mat-pass-toggle-visibility>
                        <input matInput #password [type]="toggle.type" placeholder="Digite sua nova senha"
                            formControlName="password">
                        <mat-hint style="color: white;" align="end" aria-live="polite">
                            {{password.value.length}} / {{passwordComponent.max}}
                        </mat-hint>
                    </mat-form-field>

                    <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
                        [password]="password.value">
                    </mat-password-strength>

                    <mat-password-strength-info *ngIf="showDetails"
                        lowerCaseCriteriaMsg="contém pelo menos um caractere minúsculo"
                        upperCaseCriteriaMsg="contém pelo menos um caractere maiúscula"
                        digitsCriteriaMsg="contém pelo menos um caractere de dígito"
                        specialCharsCriteriaMsg="contém pelo menos um caractere especial"
                        minCharsCriteriaMsg="contém pelo menos 8 caracteres" 
                        [passwordComponent]="passwordComponent">
                    </mat-password-strength-info>

                    <mat-form-field *ngIf="confirm" class="mat-form-field" style="margin-top: 10px;" color="warn">
                        <mat-label>Confirmar senha</mat-label>
                        <mat-pass-toggle-visibility style="color: rgba(255, 255, 255, 0.432);" #toggle1 matSuffix></mat-pass-toggle-visibility>
                        <input matInput type="password" [type]="toggle1.type" placeholder="Digite novamente sua senha" formControlName="confirmPassword">
                        <div style="background-color: red;" *ngIf="passwordResetForm?.errors?.['mismatch'] && passwordResetForm?.touched">
                            <p style="color: white; margin: 5px; font-size: 10px;">As senhas não coincidem</p>
                        </div>
                    </mat-form-field>
                </div>

                <button mat-raised-button style="margin-top: 10px; margin-bottom: 5px;"
                    [ngStyle]="passwordResetForm.invalid ? { 'color': '#999999', 'background-color': '#e15349' } : { 'color': 'white', 'background-color': '#F44336' }"
                    (click)="createPassword()" [disabled]="passwordResetForm.invalid">Salvar senha</button>
                <button mat-stroked-button color="warn" (click)="routerLogin()">Voltar para o login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>