.mat-toolbar.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    background-color: #1F2126;
}
  
.mat-toolbar.footer p {
    font-size: 14px;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.mat-toolbar.footer {
    color: white;
    background-color: #1F2126;
}