/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-green);
$custom-app-secondary: mat-palette($mat-indigo);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #c9c9c9;
}


::-webkit-scrollbar {
  width: 8px;
  /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000000;
  /* Cor da barra de rolagem */
}

/* Para navegadores Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

.mat-snack-bar-container.default {
  background-color: #4CAF50;
}

.mat-snack-bar-container.error {
  background-color: #ff2222;
}

.mat-snack-bar-container.success {
  background-color: #4CAF50;
}

.mat-mdc-snack-bar-container.alert {
  background-color: #FFC107;
  color: #333;
}